<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.rpa.pt.mapper.Pt_Goods_Mapper">

<insert id="ptinsert">
	<selectKey keyProperty="PT_code" order="BEFORE" resultType="String">
		SELECT DBMS_RANDOM.STRING('L', 20) STR FROM DUAL
	</selectKey>
insert into PTproduct(PT_no,PT_title,PT_content,pt_name,PT_Price,PT_photourl,Calendar_before,Calendar_after,PT_id,PT_Registration,PT_code,PT_state)
values(no_seq.nextval,#{PT_title},#{PT_content},#{pt_name},#{PT_Price},#{PT_photourl},null,null,#{PT_id},default,#{PT_code},#{PT_State})

</insert>

<select id="getlist" resultType="com.rpa.pt.domain.Pt_Goods_DTO">
select * from PTproduct

</select>

<select id="ptread" resultType="com.rpa.pt.domain.Pt_Goods_DTO">
select * from PTproduct where PT_no=#{PT_no}
</select>


<select id="PtReadGet" resultType="int">
	select max(PT_no) from PTproduct
</select>

<delete id="ptdelete">
	delete from PTproduct where PT_no=#{PT_no}
</delete>

<update id="ptupdate">
	update PTproduct set PT_title=#{PT_title}, pt_name=#{pt_name},PT_photourl=#{PT_photourl},PT_Price=#{PT_Price},PT_id=#{PT_id},PT_State=#{PT_State} ,PT_content=#{PT_content} where PT_no=#{PT_no}
</update>
</mapper>